html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 120px;
    padding-bottom: 40px;
    margin-bottom: 120px; /* Margin bottom by footer height */
}

a:focus, button[type="button"] {
    outline: none;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px; /* Set the fixed height of the footer here */
}

.footer .footer-text {
    margin-top: 40px;
}

#message-box {
    padding: 0rem 1.25rem;
}

#ajax-result {
    height: 20px;
    color: #d00;
}

